border-1px($color)
  position:relative;
  &:after
    content:''
    display:block
    position:absolute
    width:100%
    left:0
    bottom:0
    border-top:solid,1px,$color
bg-img($url)
  background-image: url('$url'+'@2x.pgn')
  @media (-webkit-min-device-pixel-ration: 3),(min-device-pixel-ration: 3)
    background-image: url('$url'+'@3x.pgn')
.clearfix
  display inline-block
  &:after
  	content ''
  	display block
  	height 0
  	line-height 0
  	clear both
  	visibility hidden